USE [VTC_Kasperskey]
GO
/****** Object:  Table [dbo].[VTC_MapProducts]    Script Date: 4/18/2023 5:45:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VTC_MapProducts](
	[VTC_Product_Code] [varchar](40) NOT NULL,
	[VTC_Product_Id] [varchar](40) NOT NULL,
	[Abaha_Product_Code] [varchar](20) NULL,
	[ProductName] [nvarchar](max) NULL,
 CONSTRAINT [PK_VTC_MapProducts] PRIMARY KEY CLUSTERED 
(
	[VTC_Product_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VTC_Orders]    Script Date: 4/18/2023 5:45:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VTC_Orders](
	[Id] [varchar](40) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Address] [nvarchar](500) NULL,
	[Phone] [nchar](15) NULL,
	[RefId] [varchar](20) NULL,
	[Abaha_Product_Code] [varchar](40) NULL,
	[Key_Value] [varchar](30) NULL,
	[ActivationDate] [date] NULL,
	[Expires] [date] NULL,
	[RequestId_Activate] [varchar](20) NOT NULL,
	[RequestId_ShippingData] [varchar](20) NULL,
	[Product_Code] [varchar](40) NULL,
	[Status_sms] [bit] NOT NULL,
 CONSTRAINT [PK_VTC_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[VTC_MapProducts] ([VTC_Product_Code], [VTC_Product_Id], [Abaha_Product_Code], [ProductName]) VALUES (N'2022011201', N'KAS1', N'720865', N'Phần mềm Kaspersky Internet Security - Multi-Device (1DVC)')
INSERT [dbo].[VTC_MapProducts] ([VTC_Product_Code], [VTC_Product_Id], [Abaha_Product_Code], [ProductName]) VALUES (N'2022011202', N'KAS2', N'720875', N'Phần mềm Kaspersky Internet Security - Multi-Device (3DVC)')
INSERT [dbo].[VTC_MapProducts] ([VTC_Product_Code], [VTC_Product_Id], [Abaha_Product_Code], [ProductName]) VALUES (N'2022011203', N'KAS3', N'720878', N'Phần mềm Kaspersky Internet Security - Multi-Device (5DVC)')
GO
INSERT [dbo].[VTC_Orders] ([Id], [FullName], [Address], [Phone], [RefId], [Abaha_Product_Code], [Key_Value], [ActivationDate], [Expires], [RequestId_Activate], [RequestId_ShippingData], [Product_Code], [Status_sms]) VALUES (N'16f9ce56-9d87-4f69-9919-8f9c9ce7f568', N'Nguyễn Duy', N'Tỉnh Tiền Giang', N'84765063660    ', N'00000581796 ', NULL, N'MB4SR-UOZEH-51RVC-K5CLO', CAST(N'2023-04-18' AS Date), CAST(N'2024-04-17' AS Date), N'109355', N'109356', N'2022011203', 0)
INSERT [dbo].[VTC_Orders] ([Id], [FullName], [Address], [Phone], [RefId], [Abaha_Product_Code], [Key_Value], [ActivationDate], [Expires], [RequestId_Activate], [RequestId_ShippingData], [Product_Code], [Status_sms]) VALUES (N'268dd482-0b66-46a6-a4e5-b306f48fbbaa', N'Nguyễn Duy', N'Tỉnh Tiền Giang', N'84765063660    ', N'00000581796 ', N'720878', N'MB4SR-UOZEH-51RVC-K5CLO', CAST(N'2023-04-18' AS Date), CAST(N'2024-04-17' AS Date), N'109357', N'109358', N'2022011203', 0)
INSERT [dbo].[VTC_Orders] ([Id], [FullName], [Address], [Phone], [RefId], [Abaha_Product_Code], [Key_Value], [ActivationDate], [Expires], [RequestId_Activate], [RequestId_ShippingData], [Product_Code], [Status_sms]) VALUES (N'ea0dd29a-3a56-4208-81e7-bc428e855ace', N'Nguyễn Duy', N'Tỉnh Tiền Giang', N'84765063660    ', N'00000581796 ', NULL, N'MB4SR-UOZEH-51RVC-K5CLO', CAST(N'2023-04-18' AS Date), CAST(N'2024-04-17' AS Date), N'109346', N'109347', N'2022011203', 0)
GO
ALTER TABLE [dbo].[VTC_Orders]  WITH CHECK ADD  CONSTRAINT [FK_VTC_Orders_VTC_MapProducts] FOREIGN KEY([Product_Code])
REFERENCES [dbo].[VTC_MapProducts] ([VTC_Product_Code])
GO
ALTER TABLE [dbo].[VTC_Orders] CHECK CONSTRAINT [FK_VTC_Orders_VTC_MapProducts]
GO
