
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2> Webhook VTC Telecom</h2>

        @*PartnerId: @ViewBag.partnerId
        SecretKey: @ViewBag.secretKey*@

        @ViewBag.hash
    </div>
</body>
</html>
